In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('empleados.csv')
data.shape

(1470, 35)

In [3]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

## Simple filtering operations

In [5]:
data[data['YearsAtCompany'] > 35]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
98,58,No,Travel_Rarely,682,Sales,10,4,Medical,1,131,...,3,80,0,38,1,2,37,10,1,8
126,58,Yes,Travel_Rarely,147,Research & Development,23,4,Medical,1,165,...,4,80,1,40,3,2,40,10,15,6
270,55,No,Travel_Rarely,452,Research & Development,1,3,Medical,1,374,...,3,80,0,37,2,3,36,10,4,13
1116,55,No,Travel_Rarely,685,Sales,26,5,Marketing,1,1578,...,3,80,1,36,3,3,36,6,2,13

In [7]:
data[data['MonthlyIncome'] > 19000]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
25,53,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,...,4,80,1,26,3,2,14,13,4,8
45,41,Yes,Travel_Rarely,1360,Research & Development,12,3,Technical Degree,1,58,...,4,80,0,23,0,3,22,15,15,8
123,51,No,Travel_Rarely,684,Research & Development,6,3,Life Sciences,1,162,...,3,80,0,23,5,3,20,18,15,15
165,50,No,Travel_Rarely,1452,Research & Development,11,3,Life Sciences,1,226,...,2,80,0,21,5,3,5,4,4,4
186,40,No,Travel_Rarely,989,Research & Development,4,1,Medical,1,253,...,2,80,1,21,2,3,20,8,9,9
190,52,No,Travel_Rarely,699,Research & Development,1,4,Life Sciences,1,259,...,1,80,1,34,5,3,33,18,11,9
231,42,No,Travel_Rarely,532,Research & Development,4,2,Technical Degree,1,319,...,4,80,0,22,3,3,22,17,11,15
233,50,No,Travel_Rarely,854,Sales,1,4,Medical,1,323,...,3,80,1,32,3,2,7,0,0,6
237,52,No,Non-Travel,771,Sales,2,4,Life Sciences,1,329,...,4,80,0,33,2,4,33,7,15,12
244,45,No,Travel_Rarely,252,Research & Development,1,3,Other,1,336,...,3,80,1,25,2,3,24,0,1,7
257,40,No,Travel_Rarely,1416,Research & Development,2,2,Medical,1,352,...,4,80,1,22,5,3,21,7,3,9
270,55,No,Travel_Rarely,452,Research & Development,1,3,Medical,1,374,...,3,80,0,37,2,3,36,10,4,13
279,50,No,Travel_Rarely,797,Research & Development,4,1,Life Sciences,1,385,...,1,80,2,28,4,2,10,4,1,6
326,39,No,Travel_Frequently,672,Research & Development,7,2,Medical,1,444,...,1,80,1,21,2,3,21,9,13,3
392,54,No,Travel_Rarely,821,Research & Development,5,2,Medical,1,522,...,3,80,1,24,4,2,4,2,1,2
400,39,No,Travel_Frequently,1218,Research & Development,1,1,Life Sciences,1,531,...,3,80,1,21,3,3,21,8,1,6
411,60,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,549,...,4,80,0,33,5,1,29,8,11,10
473,49,No,Travel_Rarely,1245,Research & Development,18,4,Life Sciences,1,638,...,3,80,1,31,5,3,31,9,0,9
497,44,No,Travel_Rarely,1315,Research & Development,3,4,Other,1,671,...,1,80,1,26,2,4,2,2,0,1
535,41,No,Travel_Rarely,427,Human Resources,10,4,Human Resources,1,731,...,2,80,3,23,2,2,21,6,12,6
538,41,No,Travel_Rarely,314,Human Resources,1,3,Human Resources,1,734,...,2,80,1,22,3,3,22,7,2,10
568,55,Yes,Travel_Rarely,725,Research & Development,2,3,Medical,1,787,...,4,80,1,24,2,3,5,2,1,4
595,58,Yes,Travel_Rarely,286,Research & Development,2,4,Life Sciences,1,825,...,4,80,0,40,2,3,31,15,13,8
716,41,No,Travel_Frequently,840,Research & Development,9,3,Medical,1,999,...,2,80,1,21,2,4,18,16,0,11
746,41,No,Non-Travel,247,Research & Development,7,1,Life Sciences,1,1035,...,2,80,2,21,3,3,21,16,5,10
749,52,Yes,Travel_Rarely,266,Sales,2,1,Marketing,1,1038,...,4,80,1,33,3,3,32,14,6,9
766,50,No,Travel_Rarely,1464,Research & Development,2,4,Medical,1,1061,...,4,80,1,29,2,2,8,1,7,7
770,46,No,Travel_Rarely,430,Research & Development,1,4,Medical,1,1069,...,4,80,2,23,0,3,2,2,2,2
814,40,No,Travel_Rarely,1308,Research & Development,14,3,Medical,1,1128,...,1,80,0,21,2,4,20,7,4,9
851,56,No,Travel_Rarely,718,Research & Development,4,4,Technical Degree,1,1191,...,4,80,1,28,2,3,5,2,4,2
869,46,No,Travel_Rarely,1450,Research & Development,15,2,Life Sciences,1,1217,...,1,80,1,25,2,3,4,2,0,3
898,43,No,Travel_Rarely,920,Research & Development,3,3,Life Sciences,1,1255,...,2,80,1,25,2,3,8,7,0,7
918,51,No,Travel_Frequently,237,Sales,9,3,Life Sciences,1,1282,...,1,80,1,31,5,2,29,10,11,10
922,44,No,Travel_Rarely,1199,Research & Development,4,2,Life Sciences,1,1288,...,4,80,2,26,4,2,25,9,14,13
955,55,No,Travel_Rarely,282,Research & Development,2,2,Medical,1,1336,...,4,80,1,23,5,3,19,9,9,11
956,56,No,Travel_Rarely,206,Human Resources,8,4,Life Sciences,1,1338,...,1,80,0,36,4,3,7,3,7,7
1009,58,No,Travel_Rarely,1055,Research & Development,1,3,Medical,1,1423,...,3,80,1,32,3,3,9,8,1,5
1116,55,No,Travel_Rarely,685,Sales,26,5,Marketing,1,1578,...,3,80,1,36,3,3,36,6,2,13
1126,50,No,Travel_Rarely,264,Sales,9,3,Marketing,1,1591,...,3,80,1,27,2,3,1,0,0,0
1129,42,No,Travel_Rarely,1059,Research & Development,9,2,Other,1,1595,...,4,80,0,24,2,3,1,0,0,1
1140,44,No,Travel_Rarely,1313,Research & Development,7,3,Medical,1,1608,...,4,80,1,23,4,2,22,7,1,10
1154,47,No,Travel_Rarely,1176,Human Resources,26,4,Life Sciences,1,1625,...,3,80,1,27,2,3,5,2,1,0
1242,40,No,Travel_Rarely,611,Sales,7,4,Medical,1,1740,...,2,80,0,21,3,2,21,8,12,8
1264,55,No,Travel_Rarely,478,Research & Development,2,3,Medical,1,1770,...,2,80,3,34,2,3,1,0,0,0
1277,46,No,Travel_Rarely,734,Research & Development,2,4,Medical,1,1789,...,3,80,1,24,3,3,2,1,2,2
1330,43,No,Travel_Rarely,823,Research & Development,6,3,Medical,1,1866,...,4,80,0,21,2,3,16,12,6,14
1331,48,No,Travel_Rarely,1224,Research & Development,10,3,Life Sciences,1,1867,...,4,80,0,29,3,3,22,10,12,9
1377,49,No,Travel_Frequently,1064,Research & Development,2,1,Life Sciences,1,1941,...,4,80,0,28,3,3,5,4,4,3
1401,55,No,Travel_Rarely,189,Human Resources,26,4,Human Resources,1,1973,...,1,80,1,35,0,3,10,9,1,4
1437,39,No,Non-Travel,105,Research & Development,9,3,Life Sciences,1,2022,...,3,80,0,21,3,2,6,0,1,3

## Advanced filtering operations

In [8]:
#Filter all the employees who are getting lesser than average salary even after working for more than 10 years in the same role
avg=data['MonthlyIncome'].mean()
data[(data['YearsInCurrentRole']>10) & (data['MonthlyIncome']<avg)]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
76,35,No,Travel_Rarely,776,Sales,1,4,Marketing,1,100,...,2,80,0,16,2,3,15,13,2,8
83,38,No,Non-Travel,573,Research & Development,6,3,Medical,1,107,...,4,80,3,17,3,3,13,11,1,9
103,34,No,Travel_Rarely,665,Research & Development,6,4,Other,1,138,...,3,80,0,16,3,3,16,13,2,10
137,39,No,Travel_Rarely,1329,Sales,4,4,Life Sciences,1,182,...,3,80,1,17,1,4,15,11,5,9
220,36,No,Travel_Rarely,1396,Research & Development,5,2,Life Sciences,1,304,...,4,80,0,16,3,4,13,11,3,7
269,36,No,Travel_Rarely,1403,Research & Development,6,3,Life Sciences,1,373,...,3,80,1,16,4,3,15,13,10,11
281,42,No,Travel_Rarely,635,Sales,1,1,Life Sciences,1,387,...,3,80,0,20,3,3,20,16,11,6
285,37,No,Travel_Rarely,1372,Research & Development,1,3,Life Sciences,1,391,...,2,80,0,17,3,3,17,12,5,7
319,32,No,Travel_Rarely,588,Sales,8,2,Technical Degree,1,436,...,4,80,0,13,2,3,13,12,11,9
398,37,No,Non-Travel,1063,Research & Development,25,5,Medical,1,529,...,1,80,2,15,2,3,13,11,10,7
600,32,No,Travel_Rarely,859,Research & Development,4,3,Life Sciences,1,830,...,3,80,1,14,3,3,14,13,6,8
621,36,No,Travel_Rarely,928,Sales,1,2,Life Sciences,1,857,...,4,80,1,18,1,2,18,14,4,11
686,41,No,Travel_Rarely,263,Research & Development,6,3,Medical,1,957,...,3,80,0,20,3,3,18,13,2,17
752,36,Yes,Travel_Rarely,885,Research & Development,16,4,Life Sciences,1,1042,...,3,80,0,18,1,3,17,13,15,14
778,46,No,Travel_Rarely,1003,Research & Development,8,4,Life Sciences,1,1080,...,1,80,3,19,2,3,16,13,1,7
875,44,No,Travel_Rarely,200,Research & Development,29,4,Other,1,1225,...,2,80,0,20,3,3,20,11,13,17
927,36,No,Travel_Rarely,429,Research & Development,2,4,Life Sciences,1,1294,...,4,80,0,18,2,3,16,14,5,12
978,40,No,Travel_Rarely,1202,Research & Development,2,1,Medical,1,1375,...,2,80,3,15,0,3,12,11,11,8
1095,33,No,Travel_Rarely,589,Research & Development,28,4,Life Sciences,1,1549,...,2,80,1,15,3,3,15,14,5,7
1150,35,No,Travel_Rarely,819,Research & Development,18,5,Life Sciences,1,1621,...,4,80,0,16,2,3,16,15,1,10
1157,35,No,Non-Travel,208,Research & Development,8,4,Life Sciences,1,1630,...,4,80,1,15,5,3,14,11,2,9
1187,38,No,Travel_Frequently,1189,Research & Development,1,3,Life Sciences,1,1668,...,4,80,2,19,4,4,13,11,2,9
1210,33,No,Travel_Rarely,267,Research & Development,21,3,Medical,1,1698,...,4,80,3,14,6,3,14,11,2,13
1267,34,No,Non-Travel,1375,Sales,10,3,Life Sciences,1,1774,...,3,80,1,15,3,3,15,14,0,7
1373,38,No,Travel_Frequently,1394,Research & Development,8,3,Medical,1,1937,...,3,80,1,20,3,3,20,11,0,7
1416,38,No,Travel_Rarely,1321,Sales,1,4,Life Sciences,1,1995,...,1,80,2,16,3,3,15,13,5,8
1441,56,No,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,...,1,80,1,13,2,2,13,12,1,9
1447,36,No,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,1,80,1,15,4,2,15,12,11,11

In [9]:
#Filter all the employess who are getting lesser than average salary even after working for more than 10 years in the same role 
avg=data['MonthlyIncome'].mean()
data[(data['YearsInCurrentRole']>10) & (data['MonthlyIncome']<avg)]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
76,35,No,Travel_Rarely,776,Sales,1,4,Marketing,1,100,...,2,80,0,16,2,3,15,13,2,8
83,38,No,Non-Travel,573,Research & Development,6,3,Medical,1,107,...,4,80,3,17,3,3,13,11,1,9
103,34,No,Travel_Rarely,665,Research & Development,6,4,Other,1,138,...,3,80,0,16,3,3,16,13,2,10
137,39,No,Travel_Rarely,1329,Sales,4,4,Life Sciences,1,182,...,3,80,1,17,1,4,15,11,5,9
220,36,No,Travel_Rarely,1396,Research & Development,5,2,Life Sciences,1,304,...,4,80,0,16,3,4,13,11,3,7
269,36,No,Travel_Rarely,1403,Research & Development,6,3,Life Sciences,1,373,...,3,80,1,16,4,3,15,13,10,11
281,42,No,Travel_Rarely,635,Sales,1,1,Life Sciences,1,387,...,3,80,0,20,3,3,20,16,11,6
285,37,No,Travel_Rarely,1372,Research & Development,1,3,Life Sciences,1,391,...,2,80,0,17,3,3,17,12,5,7
319,32,No,Travel_Rarely,588,Sales,8,2,Technical Degree,1,436,...,4,80,0,13,2,3,13,12,11,9
398,37,No,Non-Travel,1063,Research & Development,25,5,Medical,1,529,...,1,80,2,15,2,3,13,11,10,7
600,32,No,Travel_Rarely,859,Research & Development,4,3,Life Sciences,1,830,...,3,80,1,14,3,3,14,13,6,8
621,36,No,Travel_Rarely,928,Sales,1,2,Life Sciences,1,857,...,4,80,1,18,1,2,18,14,4,11
686,41,No,Travel_Rarely,263,Research & Development,6,3,Medical,1,957,...,3,80,0,20,3,3,18,13,2,17
752,36,Yes,Travel_Rarely,885,Research & Development,16,4,Life Sciences,1,1042,...,3,80,0,18,1,3,17,13,15,14
778,46,No,Travel_Rarely,1003,Research & Development,8,4,Life Sciences,1,1080,...,1,80,3,19,2,3,16,13,1,7
875,44,No,Travel_Rarely,200,Research & Development,29,4,Other,1,1225,...,2,80,0,20,3,3,20,11,13,17
927,36,No,Travel_Rarely,429,Research & Development,2,4,Life Sciences,1,1294,...,4,80,0,18,2,3,16,14,5,12
978,40,No,Travel_Rarely,1202,Research & Development,2,1,Medical,1,1375,...,2,80,3,15,0,3,12,11,11,8
1095,33,No,Travel_Rarely,589,Research & Development,28,4,Life Sciences,1,1549,...,2,80,1,15,3,3,15,14,5,7
1150,35,No,Travel_Rarely,819,Research & Development,18,5,Life Sciences,1,1621,...,4,80,0,16,2,3,16,15,1,10
1157,35,No,Non-Travel,208,Research & Development,8,4,Life Sciences,1,1630,...,4,80,1,15,5,3,14,11,2,9
1187,38,No,Travel_Frequently,1189,Research & Development,1,3,Life Sciences,1,1668,...,4,80,2,19,4,4,13,11,2,9
1210,33,No,Travel_Rarely,267,Research & Development,21,3,Medical,1,1698,...,4,80,3,14,6,3,14,11,2,13
1267,34,No,Non-Travel,1375,Sales,10,3,Life Sciences,1,1774,...,3,80,1,15,3,3,15,14,0,7
1373,38,No,Travel_Frequently,1394,Research & Development,8,3,Medical,1,1937,...,3,80,1,20,3,3,20,11,0,7
1416,38,No,Travel_Rarely,1321,Sales,1,4,Life Sciences,1,1995,...,1,80,2,16,3,3,15,13,5,8
1441,56,No,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,...,1,80,1,13,2,2,13,12,1,9
1447,36,No,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,1,80,1,15,4,2,15,12,11,11

In [10]:
#Lets find out employees who do not travel frequently and get more than 15000 dollars monthly salary 
x = data[(data['BusinessTravel'] == 'Non-Travel') | (data['BusinessTravel']=='Travel_Frequently')]
x[data['MonthlyIncome']>15000][['BusinessTravel','MonthlyIncome']]

C:\Users\EBIW1\AppData\Local\Temp\ipykernel_5356\1287770029.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  x[data['MonthlyIncome']>15000][['BusinessTravel','MonthlyIncome']]

         BusinessTravel  MonthlyIncome
105          Non-Travel          18844
106   Travel_Frequently          18172
112          Non-Travel          17328
119   Travel_Frequently          16959
147   Travel_Frequently          17181
194          Non-Travel          16792
237          Non-Travel          19068
290   Travel_Frequently          18665
326   Travel_Frequently          19272
400   Travel_Frequently          19197
477   Travel_Frequently          18200
584   Travel_Frequently          18430
653          Non-Travel          17924
710          Non-Travel          17444
716   Travel_Frequently          19419
746          Non-Travel          19973
774          Non-Travel          16756
804          Non-Travel          16885
867   Travel_Frequently          17856
918   Travel_Frequently          19847
936   Travel_Frequently          18061
954          Non-Travel          17861
1055  Travel_Frequently          17007
1076  Travel_Frequently          16032
1166  Travel_Frequently          15202
1301         Non-Travel          16291
1310  Travel_Frequently          15787
1351  Travel_Frequently          17174
1377  Travel_Frequently          19161
1437         Non-Travel          19431

In [11]:
#Filter all the employees from sales department having more than 15000 dollars monthly salary
data[(data['Department']=='Sales' ) & (data['MonthlyIncome']> 15000)]

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
29,46,No,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,4,80,0,22,2,2,2,2,2,1
119,43,No,Travel_Frequently,394,Sales,26,2,Life Sciences,1,158,...,4,80,2,25,3,4,25,12,4,12
233,50,No,Travel_Rarely,854,Sales,1,4,Medical,1,323,...,3,80,1,32,3,2,7,0,0,6
235,43,No,Travel_Rarely,1034,Sales,16,3,Marketing,1,327,...,3,80,1,22,3,3,17,13,1,9
237,52,No,Non-Travel,771,Sales,2,4,Life Sciences,1,329,...,4,80,0,33,2,4,33,7,15,12
263,46,No,Travel_Rarely,488,Sales,2,3,Technical Degree,1,363,...,2,80,1,28,2,2,7,7,7,7
300,41,No,Travel_Rarely,334,Sales,2,4,Life Sciences,1,410,...,2,80,0,22,2,3,22,10,0,4
417,40,No,Travel_Rarely,1398,Sales,2,4,Life Sciences,1,558,...,4,80,0,21,2,3,20,15,1,12
445,55,No,Travel_Rarely,1117,Sales,18,5,Life Sciences,1,597,...,4,80,0,37,2,3,10,9,7,7
466,41,No,Travel_Rarely,1276,Sales,2,5,Life Sciences,1,625,...,2,80,1,22,2,3,18,16,11,8
561,52,No,Travel_Rarely,621,Sales,3,4,Marketing,1,776,...,1,80,0,34,3,4,34,6,1,16
616,51,No,Travel_Rarely,1318,Sales,26,4,Marketing,1,851,...,3,80,1,29,2,2,20,6,4,17
710,33,No,Non-Travel,722,Sales,17,3,Life Sciences,1,992,...,4,80,0,10,2,3,10,8,6,0
741,42,No,Travel_Rarely,265,Sales,5,2,Marketing,1,1029,...,2,80,0,21,3,4,1,0,0,0
749,52,Yes,Travel_Rarely,266,Sales,2,1,Marketing,1,1038,...,4,80,1,33,3,3,32,14,6,9
755,45,No,Travel_Rarely,1234,Sales,11,2,Life Sciences,1,1045,...,2,80,1,26,4,4,9,3,1,1
810,46,No,Travel_Rarely,406,Sales,3,1,Marketing,1,1124,...,4,80,1,23,3,3,12,9,4,9
861,46,No,Travel_Rarely,1402,Sales,2,3,Marketing,1,1204,...,1,80,0,28,2,3,26,15,15,9
907,44,No,Travel_Rarely,1099,Sales,5,3,Marketing,1,1267,...,3,80,1,26,5,3,22,9,3,10
913,45,Yes,Travel_Rarely,1449,Sales,2,3,Marketing,1,1277,...,1,80,0,26,2,3,24,10,1,11
916,46,No,Travel_Rarely,168,Sales,4,2,Marketing,1,1280,...,3,80,1,26,2,3,11,4,0,8
918,51,No,Travel_Frequently,237,Sales,9,3,Life Sciences,1,1282,...,1,80,1,31,5,2,29,10,11,10
1080,46,No,Travel_Rarely,228,Sales,3,3,Life Sciences,1,1527,...,4,80,1,23,2,4,13,12,5,1
1116,55,No,Travel_Rarely,685,Sales,26,5,Marketing,1,1578,...,3,80,1,36,3,3,36,6,2,13
1126,50,No,Travel_Rarely,264,Sales,9,3,Marketing,1,1591,...,3,80,1,27,2,3,1,0,0,0
1135,46,No,Travel_Rarely,563,Sales,1,4,Life Sciences,1,1602,...,2,80,0,27,5,1,26,0,0,12
1194,47,No,Travel_Rarely,1225,Sales,2,4,Life Sciences,1,1676,...,3,80,3,29,2,3,3,2,1,2
1242,40,No,Travel_Rarely,611,Sales,7,4,Medical,1,1740,...,2,80,0,21,3,2,21,8,12,8
1301,58,No,Non-Travel,350,Sales,2,3,Medical,1,1824,...,4,80,1,37,0,2,16,9,14,14
1374,58,No,Travel_Rarely,605,Sales,21,3,Life Sciences,1,1938,...,3,80,1,29,2,2,1,0,0,0

In [12]:
#now we want to aggregate this date based on their attrition
x = data[(data['Department']=='Sales' ) & (data['MonthlyIncome']> 15000)] 
x[['Attrition','MonthlyIncome' ]].groupby (['Attrition']).mean()

           MonthlyIncome
Attrition
No          17631.827586
Yes         19334.500000

In [16]:
from ipywidgets import interact

In [17]:
@interact 
def filter_emp(column='MonthlyIncome', salary=19900):
    return data[data[column]>salary]

interactive(children=(Text(value='MonthlyIncome', description='column'), IntSlider(value=19900, description='sâ€¦

In [18]:
@interact 
def filter_emp(column='MonthlyIncome', salary=19900):
    return data[data[column]>salary][['EmployeeNumber',
                                      'EducationField',
                                      'Department',
                                      'MonthlyIncome']].sort_values(by='MonthlyIncome',ascending=False)

interactive(children=(Text(value='MonthlyIncome', description='column'), IntSlider(value=19900, description='sâ€¦